* {
  box-sizing: border-box;
}

ul{
  overflow: hidden;
  list-style: none;
}

li.octocat:first-child, li.octocat:nth-child(2), li.octocat:nth-child(3){
  float:left;
  width: 30%;
  overflow: hidden;
  float:left;
  margin-left: 15px;
}

 a img {
   width:100%;
   border: 1px solid gray;
 }

.authors {
  float:right;
  overflow: hidden;
  max-width: 100%;
  max-height: 100%
}

.authors li {
  float:right;
}

 footer img {
   width: 20px;
   margin-top: 7px;
 }

footer img {
  width: 45px;
}

footer cite {
  float: right;
  font: 13px helvetica,arial,sans-serif;
}

cite.a {
  text-decoration: none;
}

.octonumber {
  float:left;
}
.triangle-down {
  margin-left:350px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 15px 7.5px 0 7.5px;
  border-color: #c3c5c7 transparent transparent transparent;
}
